// 字體大小
$text-xxlarge: 32px;
$text-xlarge: 24px;
$text-large: 20px;
$text-medium: 16px;
$text-small: 14px;
$text-xsmall: 12px;

// 色碼
$color-brown1: #A95824;
$color-gray1: #898989;
$color-gray2: #3A3A3A;
$color-gray3: #CCD2D8;
$color-gray4: #F0F0F0;
$color-green: #3B7D23;
$color-red1: #F04624;
$color-yellow1 : #F4E3B8;
$color-yellow2: #DEAE35;